html{
    background: #EFF1F6;
}

#main{
    max-width: 540px;
    margin: 0 auto;
    margin-top: 25px;
}

#main.results{
    max-width: 960px;
    padding-left: 20px;
    padding-right: 20px;
}

#main.results .card{
    padding: 0;
    overflow: hidden;
}

#main.results .disclaimer{
    text-align: left;
}

.game{
    text-align: center;
}

.logo{
    width: 110px;
    margin: 0 auto;
    margin-top: 20px;
}

#main.results .logo{
    margin: 0;
    margin-bottom: 20px;
}

.logo img{
    max-width: 100%;
}

.game small{
    font-size: 14px;
    line-height: 12px;
}

.light{
    color: #B9C4CC;
}

.game input{
    display: none;
}

.game input + label{
    border: 2px solid #F0F3F5;
    border-radius: 3px;
    margin: 5px;
}

span.plus{
    display: block;
    text-align: center;
    font-size: 30px;
    margin-top: 3px;
    color: #B9C4CC;
}

#pre-game{
    text-align: center;
}

.game input:checked + label{
    border: 2px solid #F3B435;
}

label img{
    width: 100%;
    max-width: 150px;
    cursor: pointer;
}

.cuse{
    color: orange;
}

#finals-team-1, #finals-team-2{
    display: inline-block;
}


.disclaimer{
    font-size: 14px;
    text-align: center;
    margin-top: 15px;
    color: #7A8F9E;
    margin-bottom: 50px;
}

.share{
    float: right;
}

#t img{
    width: 20px;
    color: #fff;
    margin-right: 5px;
}

#t{
    background-color: #00aced !important;
}

#t:hover{
    background-color: #10A5DE !important;
}

.copyright{
    font-size: 12px;
    color: #7A8F9E;
    position: relative;
    top: -5px;
}